# Pandas Exercise
In this example, we are going to learn how to use the Pandas library to quickly ingest some data and perform some basic calculations on this data.

Please execute the cell below to import the necessary modules.

In [1]:
import matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Now that you've done that, we are going to open a file called `people.csv`.  Pandas has a series of input/output functions, but the one we will use is `pd.read_csv(<file>)`.  For the first step, please read the data into a variable called `df`.

In [2]:
df = pd.read_csv('people.csv')

Pandas has a collection of

In [4]:
df.head()

   id first_name   last_name                     email  gender      ip_address
0   1     Philip  Richardson  prichardson0@samsung.com    Male      76.20.6.56
1   2       Todd       James     tjames1@hostgator.com    Male     0.118.22.98
2   3      Jimmy     Mendoza     jmendoza2@reuters.com    Male  118.191.95.200
3   4       Jose      Morris      jmorris3@example.com    Male  106.180.20.171
4   5    Dorothy   Fernandez       dfernandez4@ask.com  Female     171.75.36.3

In [11]:
df.email.str.split('@').str[1].value_counts()

imageshack.us      1
ucsd.edu           1
pbs.org            1
reuters.com        1
livejournal.com    1
foxnews.com        1
hexun.com          1
biglobe.ne.jp      1
hostgator.com      1
123-reg.co.uk      1
elpais.com         1
ask.com            1
narod.ru           1
samsung.com        1
github.io          1
princeton.edu      1
sbwire.com         1
fotki.com          1
example.com        1
jiathis.com        1
Name: email, dtype: int64

In [12]:
df1 = pd.read_csv('baltimore_salaries_2016.csv')

In [13]:
df1.head()

,Name,JobTitle,AgencyID,Agency,HireDate,AnnualSalary,GrossPay
0,"Aaron,Patricia G",Facilities/Office Services II,A03031,OED-Employment Dev (031),10/24/1979 12:00:00 AM,$56705.00,$54135.44
1,"Aaron,Petra L",ASSISTANT STATE'S ATTORNEY,A29045,States Attorneys Office (045),09/25/2006 12:00:00 AM,$75500.00,$72445.87
2,"Abbey,Emmanuel",CONTRACT SERV SPEC II,A40001,M-R Info Technology (001),05/01/2013 12:00:00 AM,$60060.00,$59602.58
3,"Abbott-Cole,Michelle",Operations Officer III,A90005,TRANS-Traffic (005),11/28/2014 12:00:00 AM,$70000.00,$59517.21
4,"Abdal-Rahim,Naim A",EMT Firefighter Suppression,A64120,Fire Department (120),03/30/2011 12:00:00 AM,$64365.00,$74770.82

In [15]:
pd.to_numeric( df1.AnnualSalary)

ValueError: Unable to parse string "$56705.00" at position 0